.todoListItem {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 6px 0;
    overflow: hidden;
    padding: 8px 8px;
    position: relative;
}

.todoListItemText {
    border-radius: 4px;
    flex-grow: 1;
    padding: 6px;
    user-select: none;
    padding-right: 40px;
}

.todoListItem:hover .eraserTrail,
.todoListItem.isAnimatingErase .eraserTrail {
    opacity: 1;
}

.eraserTrail {
    background-color: white;
    border-radius: 12px;
    height: 12px;
    left: calc(50% - 6px);
    opacity: 0;
    position: absolute;
    top: calc(50% - 6px);
    transition: opacity 0.2s ease-in; 
    width: 12px;
}

.todoListItem:hover .todoListItemText,
.todoListItem.isAnimatingErase .todoListItemText {
    background-color: var(--highlight-background);
    color: var(--highlight-foreground);
}

.checkbox {
    border: 7px black solid;
    border-radius: 4px;
    display: inline-block;
    height: 40px;
    margin-right: 8px;
    min-width: 40px;
    overflow: hidden;
    position: relative;
    transform: scale(1);
    transition: all 0.3s ease-in;
    width: 40px;
}

.checkbox .checkboxcheck {
    transform: scale(0);
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.checkbox[data-checked="true"] .checkboxcheck {
    transform: scale(1);
}

.todoListItem[data-mode="1"]:hover .checkbox {
    transform: scale(1.1);
}

.todoListItem:not([data-mode="1"]) .checkbox {
    animation: hideCheckbox 0.3s ease-in forwards;
}

@keyframes hideCheckbox {
    0% { 
        width: 40px;
        border-width: 7px;
        margin-right: 8px;
        min-width: 40px;
    }
    50% {
        border-width: 7px;
    }
    75% {
        width: 0;
    }
    100% {         
        border-width: 0;
        margin-right: 0;
        min-width: 0;
        width: 0;
    }
}

.todoListItem:not([data-mode="1"]) .checkboxcheck {
    transform: scale(0);
}

.checkbox:after {
    background: black;
    top: -32px;
    border-radius: 4px;
    color: white;
    content: attr(data-tooltip);
    left: -50%;
    padding: 6px;
    opacity: 0;
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;
    text-align: center;
    white-space: nowrap;
    transition: all 0.2s ease-in 0.1s;
}

.todoListItem:hover .checkbox:after {
    opacity: 100%;
}