.todoListNote {
    background: white;
    border: var(--border-medium);
    display: flex;
    flex-direction: column;
    font-size: 24px;
    height: 500px;
    letter-spacing: -0.01em;
    line-height: 26px;
    padding: 12px;
    position: relative;
}

.todoListScrollableContainer {
    overflow-y: auto;
    padding: 0 12px 12px 0;
    margin-bottom: 20px;
    scroll-behavior: smooth;
}

.todoListScrollableContainer::-webkit-scrollbar {
    width: 14px;
}

.todoListScrollableContainer::-webkit-scrollbar-thumb {
    background-color: black;
    padding: 0 4px;
  }

.todoListNote::after {
    border: var(--border-medium);
    background: black;
    content: "";
    height: 100%;
    left: 8px;
    position: absolute;
    top: 8px;
    width: 100%;
    z-index: -1;
}

.todoList {
    list-style: none;
    font-family: var(--font-inter);
    list-style-position: inside;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
}

.todoListItem {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 6px 0;
    padding: 8px 8px;
    position: relative;
}

.todoListItemText {
    border-radius: 4px;
    flex-grow: 1;
    padding: 6px;
}

.todoListItem:hover .todoListItemText {
    background-color: black;
    color: white;
}

.todoListItem:last-child {
    animation: showNewItemAnim 0.2s ease-in;
}

@keyframes showNewItemAnim {
    0% { 
        opacity: 0;
        transform: translate3d(0, 12px, 0);
    }
    25% { 
        opacity: 0;
        transform: translate3d(0, 12px, 0);
    }
    50% {
        opacity: 1;
    }
    100% {         
        transform: translate3d(0, 0, 0);
    }
}

.checkbox {
    border: 7px black solid;
    border-radius: 4px;
    display: inline-block;
    height: 40px;
    margin-right: 8px;
    position: relative;
    transform: scale(1);
    transition: all 0.2s ease-in;
    width: 40px;
}

.checkbox .checkboxcheck {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

.checkbox[data-checked="true"] .checkboxcheck {
    transform: scale(1);
}

.todoListItem:hover .checkbox {
    transform: scale(1.1);
}

.checkbox:after {
    background: black;
    top: -32px;
    border-radius: 4px;
    color: white;
    content: 'Mark complete';
    left: -50%;
    padding: 6px;
    opacity: 0;
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;
    text-align: center;
    white-space: nowrap;
    transition: all 0.2s ease-in 0.1s;
}

.todoListItem:hover .checkbox:after {
    opacity: 100%;
}

.todoHeading {
    margin: 6px 0 16px;
}

input.todoListInput {
    border: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    margin: auto 8px 8px 8px;
    outline: var(--border-medium);
    padding: 8px 16px;
    transition: all 0.2s ease-in;
}

input.todoListInput::placeholder {
    color: black;
}

input.todoListInput:hover,
input.todoListInput:focus {
    padding: 10px 16px;
}